.ivu-shrinkable-menu{
    background:#4e4e4e !important;
}
.ivu-menu-submenu, .ivu-menu-item{
    font-size: 16px;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active:hover{
    color: #fae100;
    background: rgb(255, 255, 255, 0.3) !important;
}